.latest_project{
 background: #1D99BC url(../images/blue-texture.png) repeat;
 }
 
.project{
 background: #1D99BC url(../images/blue-texture.png) repeat;
 }
 
.secondary_page_bg{
 background: #1D99BC  url(../images/blue-texture.png) repeat;
 }
 
.category_illustration{
 background: #1D99BC url(../images/blue-texture.png) repeat;
 }
