.latest_project{
 background: url(../images/blue-texture2.png) repeat;
 }
 
.project{
 background: url(../images/blue-texture.png) repeat;
 }
 
.secondary_page_bg{
 background: url(../images/blue-texture2.png) repeat;
 }
 
.category_illustration{
 background: url(../images/blue-texture.png) repeat;
 }
