a{
 text-decoration: none;
 }

.main_menu li, .project_table h1, p, a, .content, .follow_us, .secondary_menu li, .secondary_menu li span, .sec_menu_selected_middle, .input_middle, label, textarea{
 font-family: Arial, Helvetica, sans-serif;
 color: #808080;
 }
 
cite{
 font-family: Georgia, "Times New Roman", Times, serif;
 }
 
cite{
 font-style: italic;
 }
 
.footer p, .footer a{
 font-size: 10px;
 }

.main_menu li, .subtitle, h6{
 font-size: 12px;
 }
 
p{ 
 font-size: 13px;
 }
 
.project p, cite, .large_box p{
 font-size: 14px;
 }
 
.secondary_menu li, .secondary_menu li span, .secondary_menu li a, .follow_us, .sec_menu_selected_middle, .related_projects, .input_middle, label, textarea{
 font-size: 15px;
 }
 
.third_menu_middle ul li a{
 font-size: 16px;
 }
 
.category_illustration p{
 font-size: 17px; 
 } 
 
h5, .project_title{
 font-size: 18px;
 }
 
.project_table h1{
 font-size: 32px;
 }
 
h2{
 font-size: 23px;
 }
 
.category_illustration h2, h1{
 font-size: 26px;
 }
 
p, h6{
 line-height: 17px;
 }
 
h6{
 line-height: 19px;
 }
 
.large_box p{
 line-height: 20px;
 }
 
.project_title{
 line-height: 21px;
 }
 
.project p, cite{
 line-height: 22px;
 }
 
.third_menu li a{
 line-height: 34px;
 }
 
 
.main_menu li, .main_menu li a, .footer p, .footer a, .follow_us, .secondary_menu li span, .input_middle, textarea{
 font-weight: bold;
 }
 
.main_menu li, .main_menu li a, .main_menu li .selected_middle a:hover, .secondary_menu li a:hover{
 color: #dddddd;
 }
 
.main_menu li a:hover{
 color: #fdfdfd;
 }
 
.project_table h1, .project p, .category_illustration h2{
 color: #ffffff;
 }
 
.footer p, .footer a{
 color: #acacaf;
 }
 
.footer a:hover{
 color: #949494;
 }
 
h1, h2, .testimonials h6.testimonial_name, .project_title, label{
 color: #191919;
 }
 
h5, h6, .third_menu li a:hover, .follow_us, .project_title:hover, .secondary_menu li span, .sec_menu_selected_middle, .related_projects:hover, .input_middle, textarea{
 color : #00a7f3;
 }
 
.category_illustration p{
 color: #262626;
 }
 
.third_menu li a, .related_projects{
 color: #222222;
 }

.large_box p{
 color: #5b5b5b;
 }
 
