!!! Strict
%html{:lang => "cs", "xml:lang" => "cs", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "text/css", "http-equiv" => "content-style-type"}/
    %meta{:content => "text/javascript", "http-equiv" => "content-script-type"}/
    %title Log in · DZKey
    %link{:href => "css/blue.css", :media => "screen, projection, tv", :rel => "stylesheet", :type => "text/css"}/
    /[if lte IE 7.0] <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen, projection, tv" />
    /[if IE 8.0]
      <style type="text/css">
      form.fields fieldset {margin-top: -10px;}
      </style>
    %script{:src => "js/jquery-1.4.2.min.js", :type => "text/javascript"}
    / Adding support for transparent PNGs in IE6:
    /[if lte IE 6]
      <script type="text/javascript" src="js/ddpng.js"></script>
      <script type="text/javascript">
      DD_belatedPNG.fix('h3 img');
      </script>
  %body#login
    .box.box-50.altbox{:style => " border-top-left-radius: 10px; border-top-right-radius: 10px; "}
      .boxin{:style => " border-top-left-radius: 10px; border-top-right-radius: 10px; "}
        .headr{:style => "background: #FFF;padding: 30px 0 0 0; border-top-left-radius: 10px; border-top-right-radius: 10px;"}
          .tc
            %img{:alt => "DZKey Logo", :src => "images/dzkey-medium.png", :style => "margin-left: 30px"}/
        %form.table{:action => "login", :method => "post"}
          / Default forms (table layout)
          .inner-form
            %table{:cellspacing => "0"}
              %tr
                %th
                  %label{:for => "some1"} Email
                %td
                  %input#some1.txt{:name => "email", :type => "text"}/
              %tr
                %th
                  %label{:for => "some3"} Password
                %td
                  %input#some3.txt.pwd{:name => "password", :type => "password"}/
                / class error for wrong filled inputs
            %br
            %input.awesome.green.giant{:type => "submit", :value => "Log in", :style => "margin-left: 55px; width: 325px"}
      %div{:style => 'text-align: center; margin-top: 5px'}
        %a{:href => "/"} Return to DZKey homepage
