
.box.box-50.altbox
  .boxin
    .header
      %h3 Jump Types
      %a.plus{:href => "#new-jumper", :rel => "jumpersfacebox", :style => "margin-left: 5px;"} &nbsp;
      %input#jumpersearch.search.firstfocus{:type => "text", :name => "jumpersearch", :placeholder => "Filter jump types..."}
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th Name
            %td.tc Cost
            %td.tc Jump Qty.
            %td
        %tbody
          -JumpTypes.each do |type|
            %tr
              %th= type.name
              %td.tr
                .stat.green{:href => "#"}= i*16
              %td.tr
                .stat.blue{:href => "#"}= rand(100) + 1
              %td.tc
                %a.awesome.yellow.medium{:style => 'padding: 2px 5px', :href => "/ajax/edit-jumper?id=", :rel => 'jumpersfacebox'}
                  %img{:src => "/css/img/led-ico/pencil.png", :width => "16", :height => "16", :style => 'vertical-align: text-top'}
.box.box-50.altbox
  .boxin
    .header
      %h3 Jumper Categories
      %a.plus{:href => "#new-jumper", :rel => "jumpersfacebox", :style => "margin-left: 5px;"} &nbsp;
      %input#jumpersearch.search.firstfocus{:type => "text", :name => "jumpersearch", :placeholder => "Filter categories..."}
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th Name
            %td.tc Number of Jumpers
            %td
        %tbody
          -5.times do |i|
            %tr{:class => ( i == 0 ? "first" : "")}
              %th AFF
              %td.tr
                .stat.green{:href => "#"}= i*16
              %td.tc
                %a.awesome.yellow.medium{:style => 'padding: 2px 5px', :href => "/ajax/edit-jumper?id=", :rel => 'jumpersfacebox'}
                  %img{:src => "/css/img/led-ico/pencil.png", :width => "16", :height => "16", :style => 'vertical-align: text-top'}
