#new-staff{:style => "display: none; width: 600px; text-align: center"}
  %b{:style => 'font-size: 24px; text-align: center;background: #eee; display: block; margin: -10px -10px 0px -10px; padding: 5px'} New staff
  %form.fields.newstaffform{:style => "margin-right: 150px; text-align: right; font-size: 16px"}
    %p
      %label{:style => "font-weight: bold"} Existing Jumper
      %select.existing-dropdown{:style => "width: 177px; margin-left: 20px", :name => "existing"}
        %option{:value => ""}
        -Jumper.all.find_all{|j| !j.is_staff}.each do |jumper|
          %option{:value => jumper.id}= jumper.name
      :javascript
        $(document).ready(function(){
          $('.existing-dropdown').change(function(){
            if ($(this).val() != ""){
              if ($("fieldset.new-jumper").is(":visible")) $("fieldset.new-jumper").hide("blind", 250);
            } else {
              $("fieldset.new-jumper").show("blind", 250);
            }
          });
        });
    %br
    %fieldset.new-jumper
      %p.bold
        %label Name
        %input{:type => "text", :size => "12", :name => "first_name", :style => "margin-left: 20px"}
        %input{:type => "text", :size => "12", :name => "last_name", :style => "margin-left: 0px"}
      %p
        %label{:style => "font-weight: bold"} Nickname
        %input{:type => "text", :size => "30", :name => "nickname", :style => "margin-left: 20px"}
      %br
      %p
        %label Country
        %select{:style => "width: 177px; margin-left: 20px", :name => "state"}
          %option{:value => "USA"} USA
          %option{:value => "Canada"} Canada
          %option{:value => "Mexico"} Mexico
          %option{:value => "England"} England
          %option{:value => "Germany"} Germany
          
      %p
        %label Address
        %input{:type => "text", :size => "30", :name => "address", :style => "margin-left: 20px"}
      %p
        %label City
        %input{:type => "text", :size => "30", :name => "city", :style => "margin-left: 20px"}
      %p
        %label State
        %select{:style => "width: 177px; margin-left: 20px", :name => "state"}
          %option{:value => "AL"} AL - Alabama
          %option{:value => "AK"} AK - Alaska
          %option{:value => "AZ"} AZ - Arizona
          %option{:value => "AR"} AR - Arkansas
          %option{:value => "CA"} CA - California
          %option{:value => "CO"} CO - Colorado
          %option{:value => "CT"} CT - Connecticut
          %option{:value => "DE"} DE - Delaware
          %option{:value => "FL"} FL - Florida
          %option{:value => "GA"} GA - Georgia
          %option{:value => "HI"} HI - Hawaii
          %option{:value => "ID"} ID - Idaho
          %option{:value => "IL"} IL - Illinois
          %option{:value => "IN"} IN - Indiana
          %option{:value => "IA"} IA - Iowa
          %option{:value => "KS"} KS - Kansas
          %option{:value => "KY"} KY - Kentucky
          %option{:value => "LA"} LA - Louisiana
          %option{:value => "ME"} ME - Maine
          %option{:value => "MD"} MD - Maryland
          %option{:value => "MA"} MA - Massachusetts
          %option{:value => "MI"} MI - Michigan
          %option{:value => "MN"} MN - Minnesota
          %option{:value => "MS"} MS - Mississippi
          %option{:value => "MO"} MO - Missouri
          %option{:value => "MT"} MT - Montana
          %option{:value => "NE"} NE - Nebraska
          %option{:value => "NV"} NV - Nevada
          %option{:value => "NH"} NH - New Hampshire
          %option{:value => "NJ"} NJ - New Jersey
          %option{:value => "NM"} NM - New Mexico
          %option{:value => "NY"} NY - New York
          %option{:value => "NC"} NC - North Carolina
          %option{:value => "ND"} ND - North Dakota
          %option{:value => "OH"} OH - Ohio
          %option{:value => "OK"} OK - Oklahoma
          %option{:value => "OR"} OR - Oregon
          %option{:value => "PA"} PA - Pennsylvania
          %option{:value => "RI"} RI - Rhode Island
          %option{:value => "SC"} SC - South Carolina
          %option{:value => "SD"} SD - South Dakota
          %option{:value => "TN"} TN - Tennessee
          %option{:value => "TX"} TX - Texas
          %option{:value => "UT"} UT - Utah
          %option{:value => "VT"} VT - Vermont
          %option{:value => "VA"} VA - Virginia
          %option{:value => "WA"} WA - Washington
          %option{:value => "WV"} WV - West Virginia
          %option{:value => "WI"} WI - Wisconsin
          %option{:value => "WY"} WY - Wyoming
          %option{:value => "ZZ"} Other
      %p
        %label ZIP Code
        %input{:type => "text", :size => "30", :name => "zip", :style => "margin-left: 20px"}
    %br
    %p
      %label{:style => "font-weight: bold"} Email Address
      %input{:type => "text", :size => "30", :name => "email", :style => "margin-left: 20px"}
    %br
    %p
      %input{:type => "checkbox", :style => "margin-right: 10px;", :name => "pilot", :checked => "checked"}
      %label{:style => "font-weight: bold; margin-right: 140px"} Pilot
    %p
      %input{:type => "checkbox", :style => "margin-right: 8px;", :name => "tandem_instructor", :checked => "checked"}
      %label{:style => "font-weight: bold; margin-right: 36px"} Tandem Instructor
    %p
      %input{:type => "checkbox", :style => "margin-right: 10px;", :name => "aff_instructor", :checked => "checked"}
      %label{:style => "font-weight: bold; margin-right: 64px"} AFF Instructor
    %p
      %input{:type => "checkbox", :style => "margin-right: 10px;", :name => "videographer", :checked => "checked"}
      %label{:style => "font-weight: bold; margin-right: 70px"} Videographer 
    %br
    %br
    %b View &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Edit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    %p
      %label{:style => "font-weight: bold;"} Jumper Data
      %input{:type => "checkbox", :style => "margin-left: 68px; margin-right: 87px;", :name => "can_view_jumpers", :checked => "checked"}
      %input{:type => "checkbox", :style => "margin-right: 40px;", :name => "can_edit_jumpers", :checked => "checked"}

    %p
      %label{:style => "font-weight: bold;"} Manifest Data
      %input{:type => "checkbox", :style => "margin-left: 68px; margin-right: 87px;", :name => "can_view_manifests", :checked => "checked"}
      %input{:type => "checkbox", :style => "margin-right: 40px;", :name => "can_edit_manifests", :checked => "checked"}
    %p
      %label{:style => "font-weight: bold;"} Financial Data
      %input{:type => "checkbox", :style => "margin-left: 68px; margin-right: 87px;", :name => "can_view_finances", :checked => "checked"}
      %input{:type => "checkbox", :style => "margin-right: 40px;", :name => "can_edit_finances", :checked => "checked"}

    %br
    .left{:style => "display: inline; margin-right: 12px"}        
      %a.awesome.giant.green{:href => "#create-staff", :onClick => "createStaff(this);"} Create Staff
    .left{:style => "display: inline;margin-right: -13px"}
      %a.awesome.medium.gray{:href => "#", :onClick => "$.facebox.close()"} Cancel
.box.box-100.altbox
  / .altbox for alternative box's color
  .boxin
    .header
      %h3 Staff
      %a.ico-plus{:href => "#new-staff", :rel => "facebox", :style => "margin-left: 5px"} &nbsp;
      / Action button in the header of the box
      %input.search{:type => "text", :size => "45", :style => "margin-left: 575px", :name => "staffsearch", :placeholder => "Filter Staff..."}
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th{:style => "width: 8px", :rowspan => 2} &nbsp;
            %td{:rowspan => 2} <br/><br/>Name 
            %td.tc{:style => "width: 75px", :rowspan => 2} <br/><br/>Pilot
            %td.tc{:style => "width: 75px", :rowspan => 2} <br/>Tandem Instructor
            %td.tc{:style => "width: 75px", :rowspan => 2} <br/><br/>Videographer
            %td.tc{:style => "width: 75px", :rowspan => 2} <br/><br/>AFF Instructor
            
            %td.tc{:style => "width: 50px", :rowspan => 2} <br/><br/>Balance 
            %td.tc.bold{:colspan => 2} Jumpers
            %td.tc.bold{:colspan => 2} Manifest
            %td.tc.bold{:colspan => 2} Finance
            
          %tr
            %td.tc{:style => "width: 25px; padding-left: 10px"} View
            %td.tc{:style => "width: 25px"} Edit
            %td.tc{:style => "width: 25px"} View
            %td.tc{:style => "width: 25px"} Edit
            
            %td.tc{:style => "width: 25px"} View
            %td.tc{:style => "width: 25px"} Edit
            
        %tbody.striped
          -Jumper.all.find_all{|j| j.is_staff}.each_with_index do |staff, i|
            %tr{:class => ( i == 0 ? "first" : "")}
              %th.tc
                -if staff.available
                  %img.vtip{:title => "On click: Are You sure you want to check staff member out?", :src => "/css/img/available.png"}
                -else
                  %img.vtip{:title => "On click: Check staff member in?",:src => "/css/img/unavailable.png"}
              %td
                %a{:href => "#"}= staff.name
              %td.tc
                -if staff.pilot
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tc
                -if staff.tandem_instructor
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tc
                -if staff.videographer
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tc
                -if staff.aff_instructor
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tr
                -balance = staff.balance || 0
                
                %a.stat.vtip{:href => "#", :style => 'display: block; width: 50px; padding: 0; padding-right: 5px; margin: 0;margin-bottom: -5px; float: right', :title => "This doesn't make a lot of sense here, but I want to break up the two banks of permissions", :class => (balance >= 0 ? "green" : "red")}= "%5.2f" % balance
              %td.tr
                -if staff.can_view_jumpers
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tl
                -if staff.can_edit_jumpers
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tr
                -if staff.can_view_manifests
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tl
                -if staff.can_edit_manifests
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tr
                -if staff.can_view_finances
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tl
                -if staff.can_edit_finances
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}


:javascript
  $(document).ready(function(){
    $(".black-dot, .no-dot").click(function(){
      if ($(this).hasClass("no-dot")){
        $(this).removeClass("no-dot").addClass("black-dot");
      } else {
        $(this).removeClass("black-dot").addClass("no-dot");
      }
    });
  });
  function createStaff(button){
    var form_data = $('.newstaffform:last').serialize();  
    $.post(('/ajax/staff?'+form_data), function(data) {
      $.facebox.close();
      $('#staff').html(data);
    });
    return false;
  }
  function toggleAvailable(){
    box = $('.available')
    if (box.attr('checked')){
      $('.available').attr('checked', '');
    }else{
      $('.available').attr('checked', 'checked');
      
    }
  }
