#new-staff{:style => "display: none; width: 600px; text-align: center"}
  
  %b{:style => 'font-size: 24px; text-align: center;background: #eee; display: block; margin: -10px -10px 0px -10px; padding: 5px'} New staff
  %form.newstaffform{:style => "margin-right: 150px; text-align: right; font-size: 16px"}
    %p
      %label{:style => "font-weight: bold"} Existing User? (autocomplete?)
      %select{:style => "width: 177px; margin-left: 20px", :name => "type"}
        %option Kent
        %option Todd
        %option Joe
    %p
      %label{:style => "font-weight: bold"} Full Name
      %input{:type => "text", :size => "30", :name => "full_name", :style => "margin-left: 20px"}
    %p
      %label{:style => "font-weight: bold"} Nickname
      %input{:type => "text", :size => "30", :name => "nickname", :style => "margin-left: 20px"}
    %br
    %br
    %b View &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Edit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    %p
      %label{:style => "font-weight: bold;"} Jumper Data
      %input{:type => "checkbox", :style => "margin-left: 68px; margin-right: 70px;", :name => "available", :checked => "checked"}
      %input{:type => "checkbox", :style => "margin-right: 30px;", :name => "available", :checked => "checked"}

    %p
      %label{:style => "font-weight: bold;"} Manifest Data
      %input{:type => "checkbox", :style => "margin-left: 68px; margin-right: 70px;", :name => "available", :checked => "checked"}
      %input{:type => "checkbox", :style => "margin-right: 30px;", :name => "available", :checked => "checked"}
    %p
      %label{:style => "font-weight: bold;"} Financial Data
      %input{:type => "checkbox", :style => "margin-left: 68px; margin-right: 70px;", :name => "available", :checked => "checked"}
      %input{:type => "checkbox", :style => "margin-right: 30px;", :name => "available", :checked => "checked"}
   

    %br
    .left{:style => "display: inline; margin-right: 12px"}        
      %a.awesome.giant.green{:href => "#create-staff", :onClick => "createstaff(this);"} Create Staff
    .left{:style => "display: inline;margin-right: -13px"}
      %a.awesome.medium.gray{:href => "#", :onClick => "$.facebox.close()"} Cancel
.box.box-100.altbox
  / .altbox for alternative box's color
  .boxin
    .header
      %h3 Staff
      %a.ico-plus{:href => "#new-staff", :rel => "facebox", :style => "margin-left: 5px"}
      / Action button in the header of the box
      %input.search{:type => "text", :size => "45", :style => "margin-left: 575px", :name => "staffsearch", :placeholder => "Filter Staff..."}
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th{:style => "width: 8px", :rowspan => 2} &nbsp;
            %td{:rowspan => 2} <br/><br/>Name
            %td.tc{:style => "width: 75px", :rowspan => 2} <br/><br/>Pilot
            %td.tc{:style => "width: 75px", :rowspan => 2} <br/>Tandem Instructor
            %td.tc{:style => "width: 75px", :rowspan => 2} <br/><br/>Videographer
            %td.tc{:style => "width: 75px", :rowspan => 2} <br/><br/>AFF Instructor
            
            %td.tc{:style => "width: 50px", :rowspan => 2} <br/><br/>Balance 
            %td.tc.bold{:colspan => 2} Jumpers
            %td.tc.bold{:colspan => 2} Manifest
            %td.tc.bold{:colspan => 2} Finance
            
          %tr
            %td.tc{:style => "width: 25px; padding-left: 10px"} View
            %td.tc{:style => "width: 25px"} Edit
            %td.tc{:style => "width: 25px"} View
            %td.tc{:style => "width: 25px"} Edit
            
            %td.tc{:style => "width: 25px"} View
            %td.tc{:style => "width: 25px"} Edit
            
        %tbody.striped
          -30.times do |i|
            %tr{:class => ( i == 0 ? "first" : "")}
              %th.tc
                -if rand(2) > 0
                  %img.vtip{:title => "On click: Are You sure you want to remove 'username's permission?", :src => "/css/img/available.png"}
                -else
                  %img.vtip{:title => "On click: Are You sure you want to allow 'username' this permission?",:src => "/css/img/unavailable.png"}
              %td
                %a{:href => "#"} Kent McCullough
              %td.tc
                -if rand(2) > 0
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tc
                -if rand(2) > 0
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tc
                -if rand(2) > 0
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tc
                -if rand(2) > 0
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tr
                -balance = (rand(10000) - 3000)/50.0
                
                %a.stat.vtip{:href => "#", :style => 'display: block; width: 50px; padding: 0; padding-right: 5px; margin: 0;margin-bottom: -5px; float: right', :title => "This doesn't make a lot of sense here, but I want to break up the two banks of permissions", :class => (balance > 0 ? "green" : "red")}= "%5.2f" % balance
              %td.tr
                -if rand(2) > 0
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tl
                -if rand(2) > 0
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tr
                -if rand(2) > 0
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tl
                -if rand(2) > 0
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tr
                -if rand(2) > 0
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}
              %td.tl
                -if rand(2) > 0
                  %a.black-dot.vtip{:title => "Click to switch. Pop a warning message."}
                -else
                  %a.no-dot.vtip{:title => "Click to switch. Pop a warning message."}


:javascript
  $(document).ready(function(){
    $(".black-dot, .no-dot").click(function(){
      if ($(this).hasClass("no-dot")){
        $(this).removeClass("no-dot").addClass("black-dot");
      } else {
        $(this).removeClass("black-dot").addClass("no-dot");
      }
    });
  });
  function createstaff(button){
    var form_data = $('.newstaffform:last').serialize();  
    alert(form_data);  
    $.post(('/ajax/new-staff?'+form_data), function(data) {
      $.facebox.close();
      $('#staff').html(data);
    });
    return false;
  }
  function toggleAvailable(){
    box = $('.available')
    if (box.attr('checked')){
      $('.available').attr('checked', '');
    }else{
      $('.available').attr('checked', 'checked');
      
    }
  }
