#store.pagediv
  .box.box-50
    .boxin
      .header
        %h3 Forms, basic layout
      %form.basic{:action => "", :enctype => "multipart/form-data", :method => "post"}
        / Default basic forms
        .inner-form
          / error and information messages
          .msg.msg-ok
            %p
              I'm a
              %strong success
              message and I'm proud of it!
          .msg.msg-error
            %p
              I'm an
              %strong error
              message and I'm proud of it!
          .msg.msg-warn
            %p
              I'm a
              %strong warning
              message and I'm proud of it!
          .msg.msg-info
            %p
              I'm an
              %strong info
              message and I'm proud of it!
          %dl
            %dt
              %label{:for => "some1"} Input field:
            %dd
              %input#some1.txt{:name => "some1", :type => "text"}/
              %small A little description.
            %dt
              %label.error{:for => "some3"} Input field:
            %dd
              %input#some3.txt.error{:name => "some3", :type => "text", :value => "error"}/
              / class error for wrong filled inputs
              %small An error description.
            %dt.ttop
              %label{:for => "some2"} Textarea:
            / .ttop for vertical-align: top
            %dd
              %textarea#some2{:cols => "20", :name => "some2", :rows => "5"}
            %dt
              %label{:for => "some4"} File input:
            %dd
              %input#some4.file{:name => "some4", :type => "file"}/
              %span.loading uploading…
              / OR <img src="css/img/upload.gif" alt="" />
              / uploading animation
            %dt
              %label{:for => "some10"} Select box:
            %dd
              %select#some10{:name => "some10"}
                %option{:value => "val1"} select …
                %option{:value => "val1"} … something
            %dt
            %dd
              %label.check
                %input#some5.check{:checked => "checked", :name => "some5", :type => "checkbox", :value => "true"}>/
                Checkbox 1
              %label.check
                %input#some6.check{:name => "some6", :type => "checkbox", :value => "true"}>/
                Checkbox 2
            %dt
            %dd
              %label.radio
                %input#some7.radio{:name => "some78", :type => "radio", :value => "true"}>/
                Radio 1
              %label.radio
                %input#some8.radio{:name => "some78", :type => "radio", :value => "true"}>/
                Radio 2
            %dt
            %dd
              %input.button{:type => "submit", :value => "Submit emphasized"}/
              %input.button.altbutton{:type => "submit", :value => "Submit"}/
  .box.box-50.altbox
    .boxin
      .header
        %h3 Forms with fieldsets, plain layout
      %form.fields{:action => "", :enctype => "multipart/form-data", :method => "post"}
        / Forms (plain layout, cleaner)
        %fieldset
          %legend
            %strong Legend
          .msg.msg-ok
            %p
              I'm a
              %strong success
              message and I'm proud of it!
          %label{:for => "some21"} Input field:
          %input#some21.txt{:name => "some21", :size => "30", :type => "text"}/
          %small A little description.
          %label.error{:for => "some23"} Input field:
          %input#some23.txt.error{:name => "some23", :size => "30", :type => "text", :value => "error"}/
          %small An error description.
          %label{:for => "some22"} Textarea:
          %textarea#some22{:cols => "40", :name => "some22", :rows => "5"}
          %label{:for => "some24"} File input:
          %input#some24.file{:name => "some24", :type => "file"}/
          %span.loading uploading…
          / OR <img src="css/img/upload.gif" alt="" />
          %label{:for => "some210"} Select box:
          %select#some210{:name => "some210"}
            %option{:value => "val1"} select …
            %option{:value => "val1"} … something
          .sep
            %label.check
              %input#some25.check{:checked => "checked", :name => "some25", :type => "checkbox", :value => "true"}>/
              Checkbox 1
            %label.check
              %input#some26.check{:name => "some26", :type => "checkbox", :value => "true"}>/
              Checkbox 2
          .sep
            %label.radio
              %input#some27.radio{:name => "some278", :type => "radio", :value => "true"}>/
              Radio 1
            %label.radio
              %input#some28.radio{:name => "some278", :type => "radio", :value => "true"}>/
              Radio 2
          .sep
            %input.button{:type => "submit", :value => "Submit"}/
            %input.button.altbutton{:type => "submit", :value => "Submit emphasized"}/
  .box.box-100
    / box 50% width
    .boxin
      .header
        %h3 Pages
        %a.button{:href => "#"} create&nbsp;»
        %ul
          %li
            %a.active{:href => "#"} published
          %li
            %a{:href => "#"} drafts
      .content
        %ul.simple
          / ul.simple for simple listings of pages, categories, etc.
          %li
            %strong
              %a{:href => "#"} Lorem ipsum dolor sit amet vincit
            %span
              %a{:href => "#"} edit
          %li
            %strong
              %a{:href => "#"} Lorem ipsum dolor sit amet vincit
            %span
              %a{:href => "#"} edit
          %li
            %strong
              %a{:href => "#"} Lorem ipsum dolor sit amet vincit
            %span
              %a{:href => "#"} edit
          %li
            %strong
              %a{:href => "#"} Lorem ipsum dolor sit amet vincit
            %span
              %a{:href => "#"} edit
          %li
            %strong
              %a{:href => "#"} Lorem ipsum dolor sit amet vincit
            %span
              %a{:href => "#"} edit
          %li
            %strong
              %a{:href => "#"} Lorem ipsum dolor sit amet vincit
            %span
              %a{:href => "#"} edit
          %li
            %strong
              %a{:href => "#"} Lorem ipsum dolor sit amet vincit
            %span
              %a{:href => "#"} edit
  #box1.box.box-100
    / box full-width
    .boxin
      .header
        %h3 Tabular data (eg. files) — TABS ARE WORKING
        %a.button{:href => "#"} upload file&nbsp;»
        %ul
          %li
            %a.active{:href => "#", :rel => "box1-tabular"} list view
          / insert ID of content related to this tab into the rel attribute of this tab
          %li
            %a{:href => "#", :rel => "box1-grid"} grid view
          / insert ID of content related to this tab into the rel attribute of this tab
      #box1-tabular.content
        / content box 1 for tab switching
        %form.plain{:action => "", :enctype => "multipart/form-data", :method => "post"}
          %fieldset
            %table{:cellspacing => "0"}
              %thead
                / universal table heading
                %tr
                  %td.tc
                    %input#data-1-check-all{:name => "data-1-check-all", :type => "checkbox", :value => "true"}/
                  %td.tc Type
                  %th File
                  %td Description
                  %td.tc Pub. date
                  %td.tc Actions
              %tfoot
                / table foot - what to do with selected items
                %tr
                  %td{:colspan => "6"}
                    / do not forget to set appropriate colspan if you will edit this table
                    %label
                      with selected do:
                      %select{:name => "data-1-groupaction"}
                        %option{:value => "delete"} delete
                        %option{:value => "edit"} edit
                    %input.button.altbutton{:type => "submit", :value => "OK"}/
              %tbody
                %tr.first
                  / .first for first row of the table (only if there is thead)
                  %td.tc
                    %input#data-1-check-1{:name => "data-1-check-1", :type => "checkbox", :value => "true"}/
                  %td.tc
                    %span.tag.tag-gray jpeg
                  %th
                    %a{:href => "#"} On vacation with my 13.3” honey
                  %td Lovely picture of me and my MacBook during sunset …
                  %td.tc 715&nbsp;KB
                  %td.tc
                    / action icons - feel free to add/modify your own - icons are located in "css/img/led-ico/*"
                    %ul.actions
                      %li
                        %a.ico{:href => "#", :title => "edit"}
                          %img{:alt => "edit", :src => "css/img/led-ico/pencil.png"}/
                      %li
                        %a.ico{:href => "#", :title => "delete"}
                          %img{:alt => "delete", :src => "css/img/led-ico/delete.png"}/
                %tr
                  %td.tc
                    %input#data-1-check-2{:name => "data-1-check-2", :type => "checkbox", :value => "true"}/
                  %td.tc
                    %span.tag.tag-gray jpeg
                  %th
                    %a{:href => "#"} On vacation with my 13.3” honey
                  %td Lovely picture of me and my MacBook during sunset …
                  %td.tc 715&nbsp;KB
                  %td.tc
                    %ul.actions
                      %li
                        %a.ico{:href => "#", :title => "edit"}
                          %img{:alt => "edit", :src => "css/img/led-ico/pencil.png"}/
                      %li
                        %a.ico{:href => "#", :title => "delete"}
                          %img{:alt => "delete", :src => "css/img/led-ico/delete.png"}/
                %tr
                  %td.tc
                    %input#data-1-check-3{:name => "data-1-check-3", :type => "checkbox", :value => "true"}/
                  %td.tc
                    %span.tag.tag-gray jpeg
                  %th
                    %a{:href => "#"} On vacation with my 13.3” honey
                  %td Lovely picture of me and my MacBook during sunset …
                  %td.tc 715&nbsp;KB
                  %td.tc
                    %ul.actions
                      %li
                        %a.ico{:href => "#", :title => "edit"}
                          %img{:alt => "edit", :src => "css/img/led-ico/pencil.png"}/
                      %li
                        %a.ico{:href => "#", :title => "delete"}
                          %img{:alt => "delete", :src => "css/img/led-ico/delete.png"}/
                %tr
                  %td.tc
                    %input#data-1-check-4{:name => "data-1-check-4", :type => "checkbox", :value => "true"}/
                  %td.tc
                    %span.tag.tag-gray jpeg
                  %th
                    %a{:href => "#"} On vacation with my 13.3” honey
                  %td Lovely picture of me and my MacBook during sunset …
                  %td.tc 715&nbsp;KB
                  %td.tc
                    %ul.actions
                      %li
                        %a.ico{:href => "#", :title => "edit"}
                          %img{:alt => "edit", :src => "css/img/led-ico/pencil.png"}/
                      %li
                        %a.ico{:href => "#", :title => "delete"}
                          %img{:alt => "delete", :src => "css/img/led-ico/delete.png"}/
        .pagination
          / pagination underneath the box's content
          %ul
            %li
              %a{:href => "#"} previous
            %li
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %strong 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} 5
            %li
              %a{:href => "#"} next
      / .content#box-1-holder
      / code bellow is only example for switching between tabs, not regular content
      #box1-grid.content
        / content box 2 for tabs switching (hidden by default)
        %form.plain{:action => "", :enctype => "multipart/form-data", :method => "post"}
          %fieldset
            .grid
              / grid view
              .line
                .item
                  .inner
                    %a.thumb{:href => "#"}
                      %img{:alt => "", :src => "css/img/led-ico/pencil.png"}/
                    .data
                      %h4
                        %span.tag.tag-gray jpeg
                        %a{:href => "#"} On vacation with my 13.3” honey
                      %p Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset …
                      %p Lovely picture of me and my MacBook during sunset …
                      .meta 715&nbsp;KB, 1920&times;1200
                      %ul.actions
                        %li
                          %a.ico{:href => "#", :title => "edit"}
                            %img{:alt => "edit", :src => "css/img/led-ico/pencil.png"}/
                        %li
                          %a.ico{:href => "#", :title => "delete"}
                            %img{:alt => "delete", :src => "css/img/led-ico/delete.png"}/
                .item
                  .inner
                    %a.thumb{:href => "#"}
                      %img{:alt => "", :src => "css/img/led-ico/pencil.png"}/
                    .data
                      %h4
                        %span.tag.tag-gray jpeg
                        %a{:href => "#"} On vacation with my 13.3” honey
                      %p Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset
                      %p Lovely picture of me and my MacBook during sunset …
                      .meta 715&nbsp;KB, 1920&times;1200
                      %ul.actions
                        %li
                          %a.ico{:href => "#", :title => "edit"}
                            %img{:alt => "edit", :src => "css/img/led-ico/pencil.png"}/
                        %li
                          %a.ico{:href => "#", :title => "delete"}
                            %img{:alt => "delete", :src => "css/img/led-ico/delete.png"}/
              .line
                .item
                  .inner
                    %a.thumb{:href => "#"}
                      %img{:alt => "", :src => "css/img/led-ico/pencil.png"}/
                    .data
                      %h4
                        %span.tag.tag-gray jpeg
                        %a{:href => "#"} On vacation with my 13.3” honey
                      %p Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset …
                      %p Lovely picture of me and my MacBook during sunset …
                      .meta 715&nbsp;KB, 1920&times;1200
                      %ul.actions
                        %li
                          %a.ico{:href => "#", :title => "edit"}
                            %img{:alt => "edit", :src => "css/img/led-ico/pencil.png"}/
                        %li
                          %a.ico{:href => "#", :title => "delete"}
                            %img{:alt => "delete", :src => "css/img/led-ico/delete.png"}/
                .item
                  .inner
                    %a.thumb{:href => "#"}
                      %img{:alt => "", :src => "css/img/led-ico/pencil.png"}/
                    .data
                      %h4
                        %span.tag.tag-gray jpeg
                        %a{:href => "#"} On vacation with my 13.3” honey
                      %p Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset …
                      %p Lovely picture of me and my MacBook during sunset …
                      .meta 715&nbsp;KB, 1920&times;1200
                      %ul.actions
                        %li
                          %a.ico{:href => "#", :title => "edit"}
                            %img{:alt => "edit", :src => "css/img/led-ico/pencil.png"}/
                        %li
                          %a.ico{:href => "#", :title => "delete"}
                            %img{:alt => "delete", :src => "css/img/led-ico/delete.png"}/
        .pagination
          %ul
            %li
              %a{:href => "#"} previous
            %li
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %strong 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} 5
            %li
              %a{:href => "#"} next
      / .content#box-1-grid
  .box.box-100
    .boxin
      .header
        %h3 Grid data (eg. files)
        %a.button{:href => "#"} upload file&nbsp;»
        %ul
          %li
            %a{:href => "#"} list view
          %li
            %a.active{:href => "#"} grid view
      .content
        %form.plain{:action => "", :enctype => "multipart/form-data", :method => "post"}
          %fieldset
            .grid
              / grid view
              .line
                .item
                  .inner
                    %a.thumb{:href => "#"}
                      %img{:alt => "", :src => "css/img/led-ico/pencil.png"}/
                    .data
                      %h4
                        %span.tag.tag-gray jpeg
                        %a{:href => "#"} On vacation with my 13.3” honey
                      %p Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset …
                      %p Lovely picture of me and my MacBook during sunset …
                      .meta 715&nbsp;KB, 1920&times;1200
                      %ul.actions
                        %li
                          %a.ico{:href => "#", :title => "edit"}
                            %img{:alt => "edit", :src => "css/img/led-ico/pencil.png"}/
                        %li
                          %a.ico{:href => "#", :title => "delete"}
                            %img{:alt => "delete", :src => "css/img/led-ico/delete.png"}/
                .item
                  .inner
                    %a.thumb{:href => "#"}
                      %img{:alt => "", :src => "css/img/led-ico/pencil.png"}/
                    .data
                      %h4
                        %span.tag.tag-gray jpeg
                        %a{:href => "#"} On vacation with my 13.3” honey
                      %p Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset
                      %p Lovely picture of me and my MacBook during sunset …
                      .meta 715&nbsp;KB, 1920&times;1200
                      %ul.actions
                        %li
                          %a.ico{:href => "#", :title => "edit"}
                            %img{:alt => "edit", :src => "css/img/led-ico/pencil.png"}/
                        %li
                          %a.ico{:href => "#", :title => "delete"}
                            %img{:alt => "delete", :src => "css/img/led-ico/delete.png"}/
              .line
                .item
                  .inner
                    %a.thumb{:href => "#"}
                      %img{:alt => "", :src => "css/img/led-ico/pencil.png"}/
                    .data
                      %h4
                        %span.tag.tag-gray jpeg
                        %a{:href => "#"} On vacation with my 13.3” honey
                      %p Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset …
                      %p Lovely picture of me and my MacBook during sunset …
                      .meta 715&nbsp;KB, 1920&times;1200
                      %ul.actions
                        %li
                          %a.ico{:href => "#", :title => "edit"}
                            %img{:alt => "edit", :src => "css/img/led-ico/pencil.png"}/
                        %li
                          %a.ico{:href => "#", :title => "delete"}
                            %img{:alt => "delete", :src => "css/img/led-ico/delete.png"}/
                .item
                  .inner
                    %a.thumb{:href => "#"}
                      %img{:alt => "", :src => "css/img/led-ico/pencil.png"}/
                    .data
                      %h4
                        %span.tag.tag-gray jpeg
                        %a{:href => "#"} On vacation with my 13.3” honey
                      %p Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset … Lovely picture of me and my MacBook during sunset …
                      %p Lovely picture of me and my MacBook during sunset …
                      .meta 715&nbsp;KB, 1920&times;1200
                      %ul.actions
                        %li
                          %a.ico{:href => "#", :title => "edit"}
                            %img{:alt => "edit", :src => "css/img/led-ico/pencil.png"}/
                        %li
                          %a.ico{:href => "#", :title => "delete"}
                            %img{:alt => "delete", :src => "css/img/led-ico/delete.png"}/
        .pagination
          %ul
            %li
              %a{:href => "#"} previous
            %li
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %strong 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} 5
            %li
              %a{:href => "#"} next
  
  
  /
    Examples of box sizes and placing of boxes
    <div class="box box-100">
    <div class="boxin">
    <div class="header">
    <h3>Title of box</h3>
    <a class="button" href="#">Call to action</a>
    <ul>
    <li><a href="#" class="active">list view</a></li>
    <li><a href="#">grid view</a></li>
    </ul>
    </div>
    <div class="content">
    Content of the box
    </div>
    </div>
    </div>
    
    <div class="box box-75">
    <div class="boxin">
    box sample
    </div>
    </div>
    
    <div class="box box-25">
    <div class="boxin">
    box sample
    </div>
    </div>
    
    <div class="box box-50">
    <div class="boxin">
    box sample
    </div>
    </div>
    
    <div class="box box-25">
    <div class="boxin">
    box sample
    </div>
    </div>
    
    <div class="box box-25">
    <div class="boxin">
    box sample
    </div>
    </div>
    
    <div class="box box-25">
    <div class="boxin">
    box sample
    </div>
    </div>
    
    <div class="box box-25">
    <div class="boxin">
    box sample
    </div>
    </div>
    
    <div class="box box-25">
    <div class="boxin">
    box sample
    </div>
    </div>
    
    <div class="box box-25">
    <div class="boxin">
    box sample
    </div>
    </div>
  #footer
    %p
      © Swoop 2010
