.sec_menu
  .sec_menu_content
    %ul.secondary_menu.secondary_menu_contact
      %li
        %span Our Address
        &nbsp;
        557 N 17th Street &nbsp;Milwaukee, WI
      %li
        %span Phone
        &nbsp;
        (414) 215 - 0289
      %li
        %span Email
        &nbsp;
        <script type="text/javascript">
        //<![CDATA[
        <!--
        var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
        "harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
        "\\\\,l=x.length;for(i=0;i<l;i++){y%=127;o+=String.fromCharCode(x.charCodeAt" +
        "(i)^(y++));}return o;}f(\\\"\\\\4>1&908#v.(2(821HC^\\\\\\\\002D\\\\\\\\r\\\\"+
        "\\\\024\\\\\\\\002\\\\\\\\016T6I\\\\\\\\001\\\\\\\\014\\\\\\\\007\\\\\\\\00" +
        "3\\\\\\\\004\\\\\\\\036H\\\\\\\\032\\\\\\\\032\\\\\\\\023\\\\\\\\0317<#1\\\\"+
        "\\\\036\\\\\\\\005S\\\\\\\\035ol^!$qosdl7W.Nbfsz2g{5Szypv;InB=\\\\\\\\036HL" +
        "EKeb}cLS\\\\\\\\005OBC\\\\\\\\023\\\\\\\\037P\\\\\\\\014\\\\\\\\021\\\\\\\\" +
        "035\\\\\\\\016\\\\\\\\006\\\\\\\\014\\\"\\\\,80)\\\"(f};)lo,0(rtsbus.o nrut" +
        "er};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)29=!)31/l" +
        "(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"      ;
        while(x=eval(x));
        //-->
        //]]>
        </script>
        
.content
  .secondary_pages_content
    %h1{:style => "margin: auto; font-size: 1.1em; text-align: center;"} Launched in 2010, DZKey's mission is to radically reduce the cost of managing a dropzone.
    .block-text{:style => "margin: 10px 100px; font-size: 0.9em"} In the past, Dropzone owners had to choose between paying thousands of dollars upfront and hundreds a year in support, or run their dropzone with a spiral notebook and a cigar box. DZKey lets you to run a professional dropzone without the back-breaking costs.
    %img{:src => "/images/cost-benefit.png", :style => "display: block; background: #F9F9F9; border: 5px solid #F5F5F5; margin: 20px auto; padding: 10px"}
    .title{:style => 'text-align: center; padding: 0; margin-top: 30px'}
    .business-card{:style => "width: 725px; height: 279px; margin: 20px auto; padding: 0px; "}
      %img{:src => "/images/about-sam.jpg", :style => "display: inline-block; width: 256px; height: 279px;"}
      .description{:style => "display: inline-block; width: 400px; vertical-align: top; margin: 20px;"}
        %h1 Sam Warmuth
        %p.subtitle Development / Design
        %span{:style => "color: #555"} Sam is a Senior in Computer Engineering at Marquette University in Milwaukee. 
    .business-card{:style => "width: 725px; height: 279px; margin: 20px auto; padding: 0px; "}
      %img{:src => "/images/about-kent.jpg", :style => "display: inline-block;  width: 256px; height: 279px;"}
      .description{:style => "display: inline-block; width: 300px; vertical-align: top; margin: 20px;"}
        %h1 Kent McCullough
        %p.subtitle Business / Sales
  .clear_container
  %br
  %br
