.secondary_page_bg
  .category_illustration
    .punchline_contact
      %h2 Please contact us using the form below
    %img.phone{:alt => "Contact", :height => "159", :src => "images/phone.png", :width => "216"}/
  / .project
/ .LATEST_PROJECT
.sec_menu
  .sec_menu_content
    %ul.secondary_menu.secondary_menu_contact
      %li
        %span Our Address
        &nbsp;
        557 N 17th Street &nbsp;Milwaukee, WI
      %li
        %span Phone
        &nbsp;
        (414) 215 - 0289
      %li
        %span Email
        &nbsp;
        <script type="text/javascript">
        //<![CDATA[
        <!--
        var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i<72)y++;" +
        "y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"/>#,%::" +
        "9y=u'H\\030\\023\\006\\033K\\004C\\036NWUU\\024\\021=z*jmdkzx>x+wv'iHKHC\\0" +
        "00R\\002MXSFuW^Y\\1774j(iyyeomkf\\177#-(\\\"'%ub\\030Z\\016HY\\t]\\032\\013" +
        "\\010\\036\\010\\004E\\013F\\013\\014\\017\\025\\033\\007^\\036E\\025WJG\\0" +
        "24@=19j)(/|g\\\"7s\\\"nfnbPf;}<-jj|nnns>p\\016RWAWQT\\017\\030\\005EG\\005\\"+
        "026SI\\030\\023\\033\\n\\006\\031j\\025\\035\\007\\007\\020`\\037bc\\000uqs" +
        "\\030\\031\\025\\000\\177{z\\027\\020{|\\177\\014\\ra`d\\t\\n\\016ohj\\007\\"+
        "000mlo<=]JRTVWX56X\\\\]23C@B/(P$>NKIK !CGo^_046[T<:;PQ8> MN4U\\\"''DE1e*\\\""+
        ",)\\022\\022\\022\\177x_\\025\\026\\030uv@\\034\\025\\t\\024\\025A_\\001\\0" +
        "06\\005jk\\030\\032\\022_\\014\\020\\022\\003aurs\\030\\031uila\\177{|\\021" +
        "\\022\\036\\031\\001\\000\\010\\000geg\\004\\0051hmm\\002\\00330#9UWV;48YY\\"+
        "\\12[AA./AEF+$;=4!<+Q233XYVJOE_w}tR-8wo({5xemm\\177ia&76\\013\\n[\\013z\\01" +
        "4O\\017\\\\hOOCn\\\\NXR\\034K\\034PRX{K[S\\177PQM&o%--72\\024ub%p{\\177\\17" +
        "7ru(iai\\177/~q qbnu`6H\\007\\013\\030MNM\\016S\\005V\\002W]S\\006X\\003\\0" +
        "35\\025O\\035\\002\\020\\026\\034\\026U\\004@\\022,] _&8i+a)xjzv'v<i:u4{y~l" +
        "ztnz?7\",72)"                                                                ;
        while(x=eval(x));
        //-->
        //]]>
        </script>
        
  / .sec_menu_content
/ .SEC_MENU
.content
  .secondary_pages_content
    %h1 Have a question or comment for us?
    %p.subtitle Fill out this form and we'll respond as soon as we can.
    %form{:style => "font-size: 14px;  width: 345px; margin: 30px auto; padding: 30px 80px; border: 1px solid #ddd;text-align: center; box-shadow: #aaa 0 0 10px; -webkit-box-shadow: #aaa 0 0 10px; -moz-box-shadow: #aaa 0 0 10px;"}
      %p
        %label.signup-label{:for => "name", :style => "display: block; padding: 8px 0;"} Your Name (required)
        %input#name.signup-textfield{:type => "text", :style => 'width: 330px;display: block;'}
      %p
        %label.signup-label{:for => "email", :style => "width: 200px; display: block; padding: 8px 0;"} Your Email Address (required)
        %input#email.signup-textfield{:type => "text", :style => 'width: 330px;display: block;'}
      %p
        %label.signup-label{:for => "dz_name", :style => "width: 200px;display: block; padding: 8px 0;"} Your Dropzone / Club Name
        %input.signup-textfield{:type => "text", :style => 'width: 330px;display: block;'}
      %p
        %label.signup-label{:for => "dz_name", :style => "width: 200px;display: block; padding: 8px 0px;"} Your Message
        %textarea{:style => "width: 320px; height: 100px; display: block; color: black; padding: 12px"}
      %br
      .awesome.green.huge Send Message
  .clear_container
  %br
  %br
