.sec_menu
  .sec_menu_content
    %ul.secondary_menu.secondary_menu_contact
      %li{:style => "margin-left: 240px"}
        %span Still Have Questions?
        &nbsp;
        call us at
        &nbsp;
        %span{:style => "color: white"} (414) 215 - 0289
.content
  .secondary_pages_content{:style => "padding-top: 20px"}
    .title{:style => 'text-align: center; padding: 0;'}
      %h1{:style => "font-weight: bold;font-size: 2.1em;"} Frequently Asked Questions
    %br
    .faq-width{:style => "width: 700px; margin: auto"}
      .faq-link{:href => "#"} My dropzone only runs 5 months out of the year &mdash; Do I have to pay when I'm not using DZKey?
      .faq-text No. You only pay for DZKey when you're using it. Simply use our "off-season" setting on the manager page. We'll store your data in off-season mode free for 12 months &mdash; after that, you must reactivate your account to keep your data.
      .clear_container
