.sec_menu
  .sec_menu_content
    %ul.secondary_menu.secondary_menu_contact
      %li{:style => "margin-left: 240px"}
        %span Still Have Questions?
        &nbsp;
        call us at
        &nbsp;
        %span{:style => "color: white"} (414) 215 - 0289
.content
  .secondary_pages_content{:style => "padding-top: 20px"}
    .title{:style => 'text-align: center; padding: 0;'}
      %h1{:style => "font-weight: bold;font-size: 2.1em;"} Frequently Asked Questions
      Free for 30 days. Register in 60 seconds.
    %br
    .clear_container
    .two_columns
      .text
        %h5 About out team
        %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
        %p But also the leap into electronic typesetting, remaining essentially unchanged orem Ipsum has been the industry's standard dummy text ever since the beggining. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing.
      .services_we_offer
        %h5 The services we offer
        %p We can help you in the following domains:
        .box
          .box_top
          .box_middle
            %ul.third_menu
              %li.first
                %a{:href => "services.html"} Internet Marketing
              %li
                %a{:href => "services.html"} Website Design
              %li
                %a{:href => "services.html"} Brand Identity
              %li.last
                %a{:href => "services.html"} Print &amp; Old Media
          .box_bottom
        / box
    / two_columns
    .clear_container
    %br/
    %br/
    .one_column
      %h1 We do things by the book
      %p.subtitle Here is the tedious process we follow:
      %img.the_process{:alt => "The process we follow", :src => "images/the_process.jpg", :title => "The process"}/
    .clear_container
    %br/
    %br/
    %img.newspaper_icon.png{:alt => "Awards", :height => "67", :src => "images/award_icon.jpg", :width => "83"}/
    %h1 Awards &amp; Recognition
    %p.subtitle We hate awards but we had to win a few for our clients :p
    .clear_container
    .two_columns
      .text
        %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
        %p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
      .services_we_offer
        %h5 Client Testimonials
        .box
          .box_top
          .box_middle
            .testimonials
              %img.cite_icon.png{:alt => "Citation", :height => "19", :src => "images/cite_icon.png", :width => "21"}/
              %cite Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
              %h6.testimonial_name Jonathan Doe, Software Company
              .clear_container
          .box_bottom
        / box
    / two_columns
    .clear_container
  / secondary_pages_content
  .clear_container