
#content
  .heading
    .shell
      %h3
        %span This is your tagline. Tell your viewers who you are. Be loud, confident &amp; sophisticated.
      %div{:style => "float: right; margin-right: 13px"}
        %a.awesome.yellow.huge{:href => "/signup", :style => "padding: 15px 40px"} Pricing & Plans
        .tab
        %a.awesome.yellow.huge{:href => "/learn", :style => "padding: 15px 50px"} Learn More
.shell
  #main
    .grid.col4
      %section.first
        %header
          %hgroup.top
      %h1 Tiny
      %hgroup.price
      %h2
        %span.style1 $
        %span.style2 49
        %span.style3 Monthly
      %footer
      %ul
        %li
          %strong 1
          User
        %li
          %strong 20
          jumpers
        %li
          %strong Unlimited
          Students
        %li
          %strong 100
          Jumps/month
        %li.last
          %a.btn{:href => "#"} Select Plan
      %section
        %header
          %hgroup.top
      %h1 Standard
      %hgroup.price
      %h2
        %span.style1 $
        %span.style2 99
        %span.style3 Monthly
      %footer
      %ul
        %li
          %strong 5
          Users
        %li
          %strong 40
          jumpers
        %li
          %strong Unlimited
          Students
        %li
          %strong 500
          Jumps/Month
        %li.last
          %a.btn{:href => "#"} Select Plan
      %section.on
        %header
          %hgroup.top
      %h1 Premium
      %hgroup.price
      %label BEST VALUE
      %h2
        %span.style1 $
        %span.style2 199
        %span.style3 Monthly
      %footer
      %ul
        %li
          %strong Unlimited
          Users
        %li
          %strong 200
          jumpers
          .tooltip
            %div
              %h3 jumpers
              %p You can have up to 200 regular jumpers
        %li
          %strong Unlimited
          Students
        %li
          %strong 1500
          Jumps/Month
          .tooltip
            %div
              %h3 Available Space
              %p Duis volutpat nisl ac ante pulvinar non lobortis urna adipiscing. In hac habitasse platea dictumst.
        %li.last
          %a.btn{:href => "#"} Select Plan
      %section.last
        %header
          %hgroup.top
      %h1 Unlimited
      %hgroup.price
      %h2
        %span.style1 $
        %span.style2 499
        %span.style3 Monthly
      %footer
      %ul
        %li
          %strong Unlimited
          Users
        %li
          %strong Unlimited
          jumpers
        %li
          %strong Unlimited
          Students
        %li
          %strong Unlimited
          Jumps/Month
        %li.last
          %a.btn{:href => "#"} Select Plan

    .rightside
      .sidebar-form
        .top
          .bottom
            %h3 From the Blog
            .post
              <a href="#"><img src="css/images/post1.gif" alt="" /></a>
              %p <a href="#">This is a Blog Post Title</a><br />Author Name on Jan 01, 2010</p>
            .post
              <a href="#"><img src="css/images/post2.gif" alt="" /></a>
              %p <a href="#">Blink! Time to Think</a><br />Malcolm Gladwell on Jan 01, 2010
            .post
              <a href="#"><img src="css/images/post3.gif" alt="" /></a>
              %p <a href="#">Midnight Tides Re-released</a><br />Steven Erikson on Dec. 31, 2009
            .post.no-border
              <a href="#"><img src="css/images/post4.gif" alt="" /></a>
              %p <a href="#">You Shall Know Our Velocity</a><br />Dave Eggers on Dec. 29, 2009
  .cl
  .bottom-part
    .box-holder
      .top-side
        .btm-side
          <div class="box first">
          <a rel="prettyPhoto[Website Gallery]" title="Image Title" href="images/gallery/fullsize/image-template-12.jpg"><img src="css/images/img1.jpg" alt="" /></a>
          <div class="link">
          <a href="#" class="arr">&nbsp;</a>
          <p>Envato Mothership Site</p>
          </div>	
          </div>
          <div class="box">
          <a rel="prettyPhoto[Website Gallery]" title="Image Title" href="images/gallery/fullsize/image-template-7.jpg"><img src="css/images/img2.jpg" alt="" /></a>
          <div class="link">
          <a href="#" class="arr">&nbsp;</a>
          <p>PSDTUTS Redesign</p>
          </div>	
          </div>
          <div class="box last">
          <a rel="prettyPhoto[Website Gallery]" title="Image Title" href="images/gallery/fullsize/image-template-2.jpg"><img src="css/images/img3.jpg" alt="" /></a>
          </div>
          <div class="cl">&nbsp;</div>
          </div>
          <div class="cl">&nbsp;</div>
#footer
  .shell
    <ul>
    <li><a href="#" class="footer1">Sign up</a></li>
    <li><a href="#" class="footer2">Terms &amp; conditions</a></li>
    <li><a href="#" class="footer3">Privacy Policy</a></li>
    <li><a href="#" class="footer4">Send Us Feedback</a></li>
    <li><a href="#" class="footer5">Another Link</a></li>
    </ul>
    <p>Copyright Your Company, 2009. All Rights Reserved</p>
    <div class="cl">&nbsp;</div>