
#content
  .heading
    .shell
      %h3
        %span Manifesting, monitoring, and management of your dropzone made easy!
      %div{:style => "float: right; margin-right: 13px"}
        %a.awesome.yellow.huge{:href => "/signup", :style => "padding: 15px 40px"} Pricing & Plans
        .tab
        %a.awesome.yellow.huge{:href => "/about", :style => "padding: 15px 50px"} Learn More
.shell
  #main
    .article
      %h3 What Do We Do?
      %h4 Manifesting
      %p A simple solution to the manifesting process. Just drag jumpers onto their prospective flights. Link students and instructors together. Watch flight times, and manifest flights in advance.
      %h4 Jumper Tracking
      %p Know who's doing what. How many jumps people have made at your dropzone. Who's jumping the most. What licenses people have. Keep up to date information on your dropzone owned equipment, as well as know when someone is trying to jump  gear that is out of date.
      %h4 Dropzone management
      %p Handle the scheduling of students. Know which instructors are on the dropzone and ready to work. Track your airplanes. Manage staff, as well as retail sales.
    .rightside
      .sidebar-form
        .top
          .bottom
            %h3 From the Blog
            .post
              <a href="#"><img src="css/images/post1.gif" alt="" /></a>
              %p <a href="#">This is a Blog Post Title</a><br />Author Name on Jan 01, 2010</p>
            .post
              <a href="#"><img src="css/images/post2.gif" alt="" /></a>
              %p <a href="#">Blink! Time to Think</a><br />Malcolm Gladwell on Jan 01, 2010
            .post
              <a href="#"><img src="css/images/post3.gif" alt="" /></a>
              %p <a href="#">Midnight Tides Re-released</a><br />Steven Erikson on Dec. 31, 2009
            .post.no-border
              <a href="#"><img src="css/images/post4.gif" alt="" /></a>
              %p <a href="#">You Shall Know Our Velocity</a><br />Dave Eggers on Dec. 29, 2009
  .cl
  .bottom-part
    .box-holder
      .top-side
        .btm-side
          <div class="box first">
          <a rel="prettyPhoto[Website Gallery]" title="Image Title" href="images/gallery/fullsize/image-template-12.jpg"><img src="css/images/img1.jpg" alt="" /></a>
          <div class="link">
          <a href="#" class="arr">&nbsp;</a>
          <p>Envato Mothership Site</p>
          </div>	
          </div>
          <div class="box">
          <a rel="prettyPhoto[Website Gallery]" title="Image Title" href="images/gallery/fullsize/image-template-7.jpg"><img src="css/images/img2.jpg" alt="" /></a>
          <div class="link">
          <a href="#" class="arr">&nbsp;</a>
          <p>PSDTUTS Redesign</p>
          </div>	
          </div>
          <div class="box last">
          <a rel="prettyPhoto[Website Gallery]" title="Image Title" href="images/gallery/fullsize/image-template-2.jpg"><img src="css/images/img3.jpg" alt="" /></a>
          </div>
          <div class="cl">&nbsp;</div>
          </div>
          <div class="cl">&nbsp;</div>
#footer
  .shell
    <ul>
    <li><a href="#" class="footer1">Sign up</a></li>
    <li><a href="#" class="footer2">Terms &amp; conditions</a></li>
    <li><a href="#" class="footer3">Privacy Policy</a></li>
    <li><a href="#" class="footer4">Send Us Feedback</a></li>
    <li><a href="#" class="footer5">Another Link</a></li>
    </ul>
    <p>Copyright DZKey, 2010. All Rights Reserved</p>
    <div class="cl">&nbsp;</div>