.sec_menu
  .sec_menu_content
    %ul.secondary_menu.secondary_menu_contact
      %li{:style => "margin-left: 240px"}
        %span Have any questions?
        &nbsp;
        call us at
        &nbsp;
        %span{:style => "color: white"} (414) 215 - 0289
.content
  .secondary_pages_content{:style => "padding-top: 30px;"}
    .title{:style => 'text-align: center'}
      %img{:style => 'width: 625; height: 60;', :src => "/images/pricing-title.png"}
    .spacer{:style => "margin: 60px 0px;"}
    .pricebox-deluxe
      .button-holder{:style => "position: absolute; top: 250px; left: 80px;"}
        %a.awesome.blue.large{:href => "/signup?plan=deluxe", :style => " padding: 10px 25px; font-weight: bold;"} Sign Up
    .pricebox-big
      .button-holder{:style => "position: absolute; top: 290px; left: 93px; "}
        %a.awesome.yellow.huge{:href => "/signup", :style => "padding: 10px 45px; font-weight: bold;"} Sign Up
    .pricebox-basic
      .button-holder{:style => "position: absolute; top: 250px; left: 80px;"}
        %a.awesome.blue.large{:href => "/signup?plan=basic", :style => " padding: 10px 25px; font-weight: bold;"} Sign Up
      
    
    
      
  .clear_container
  %br/
  %br/