!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title DZKey Feature Tour
    %meta{:content => "WebCrafters", :name => "author"}/
    %meta{:content => "A short description of your company", :name => "description"}/
    %meta{:content => "Some keywords that best describe your business. Try to use these words in the texts from the page", :name => "keywords"}/
    %meta{:content => "english", :name => "language"}/
    %link{:href => "images/favicon.ico", :rel => "icon", :type => "image/ico"}/
    %link{:href => "css/global.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/color_blue.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/lightbox.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/jquery-1.4.2.min.js", :type => "text/javascript"}
    %link{:href => "css/nivo.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "js/jquery.nivo.zoom.pack.js", :type => "text/javascript"}

    /[if IE 6] <link type="text/css" rel="stylesheet" href="css/ie6.css" />
  %body
    .header#the-top
      .header_content
        %a{:href => "/"}
          %img.logo.png{:alt => "DZKey Logo", :height => "45", :width => "147", :style => "position: relative; top: -5px;", :src => "images/dzkey-glow.png", :title => "Go to Homepage"}
        %ul.main_menu
          %li
            %a.homepage{:href => "/"}
          %li.selected_page
            .selected
              .selected_left
              .selected_middle
                %a{:href => "/tour"} Feature Tour
              .selected_right
          /
            %li
              %a{:href => "/faq"} FAQ
          %li
            %a{:href => "/contact"} Contact
          %li
            %a{:href => "/login"} Log In
          %li
            %a.awesome.medium.green{:href => "/signup", :style => "color: white; margin-top: -8px;"} Sign Up
    .secondary_page_bg
      .category_illustration
        %img.laptop.png{:alt => "About us", :height => "113", :src => "images/laptop.png", :width => "379"}/
        .punchline_work
          %h2{:style => "margin-left: 50px"} Learn more about how DZKey works.
    #sticky-anchor
    #sticky-replacement{:style => 'display: none'}
      .sec_menu
        .sec_menu_content
          %ul.secondary_menu

    #sticky
      .sec_menu
        .sec_menu_content
          %ul.secondary_menu
            %li
              %span Go To
            %li#overviews.sel-li.sec_menu_selected{:style => 'display: none'}
              .sec_menu_selected_left
              %a.sec_menu_selected_middle.scroller{:href => "#overview"} Overview
              .sec_menu_selected_right
            %li#overviewd.desel-li
              %a.scroller{:href => "#overview"} Overview
            %li#manifests.sel-li.sec_menu_selected{:style => 'display: none'}
              .sec_menu_selected_left
              %a.sec_menu_selected_middle.scroller{:href => "#manifest"} Manifest
              .sec_menu_selected_right
            %li#manifestd.desel-li
              %a.scroller{:href => "#manifest"} Manifest
            %li#schedules.sel-li.sec_menu_selected{:style => 'display: none'}
              .sec_menu_selected_left
              %a.sec_menu_selected_middle.scroller{:href => "#schedule"} Schedule
              .sec_menu_selected_right
            %li#scheduled.desel-li
              %a.scroller{:href => "#schedule"} Schedule
            %li#staffs.sel-li.sec_menu_selected{:style => 'display: none'}
              .sec_menu_selected_left
              %a.sec_menu_selected_middle.scroller{:href => "#staff"} Staff
              .sec_menu_selected_right
            %li#staffd.desel-li
              %a.scroller{:href => "#staff"} Staff
            %li#finances.sel-li.sec_menu_selected{:style => 'display: none'}
              .sec_menu_selected_left
              %a.sec_menu_selected_middle.scroller{:href => "#finance"} Finance
              .sec_menu_selected_right
            %li#financed.desel-li
              %a.scroller{:href => "#finance"} Finance
            %li#reportss.sel-li.sec_menu_selected{:style => 'display: none'}
              .sec_menu_selected_left
              %a.sec_menu_selected_middle.scroller{:href => "#reports"} Reports
              .sec_menu_selected_right
            %li#reportsd.desel-li
              %a.scroller{:href => "#reports"} Reports
            %li
              %a.scroller{:href => "#the-top"} Top
    .content
      .secondary_pages_content
        %h1#overview Overview
        .work_project
          
          %a.nivoZoom.center{:href => "images/projects/project1_lightbox.jpg", :title => "Online electronics shop"}
            %img{:alt => "Name of the project", :src => "images/projects/project1.jpg"}/
          %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip1]", :title => "Online electronics shop"}
          %a.project_title{:href => "#"} ZOOMER
          %p We’ve just finished the new awesome project. It has been a great time for us these months.
          
        .work_project
          %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip2]", :title => "Online electronics shop"}
          %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip2]", :title => "Online electronics shop"}
          %img{:alt => "Name of the project", :src => "images/projects/project2.jpg"}/
          %a.project_title{:href => "#"} Fresh Foods inc.
          %p We’ve just finished the new awesome project. It has been a great time for us these months.
        / .work_project
        .work_project.last_project
          %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip3]", :title => "Online electronics shop"}
          %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip3]", :title => "Online electronics shop"}
          %img{:alt => "Name of the project", :src => "images/projects/project3.jpg"}/
          %a.project_title{:href => "#"} Interactive company
          %p We’ve just finished the new awesome project. It has been a great time for us these months.
        / .work_project
        .clear_container
        %br
        %hr
        %br
        %h1#manifest Manifest
        .work_project
          
          %a.nivoZoom.center{:href => "images/projects/project1_lightbox.jpg", :title => "Online electronics shop"}
            %img{:alt => "Name of the project", :src => "images/projects/project1.jpg"}/
          %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip1]", :title => "Online electronics shop"}
          %a.project_title{:href => "#"} ZOOMER
          %p We’ve just finished the new awesome project. It has been a great time for us these months.
          
        .work_project
          %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip2]", :title => "Online electronics shop"}
          %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip2]", :title => "Online electronics shop"}
          %img{:alt => "Name of the project", :src => "images/projects/project2.jpg"}/
          %a.project_title{:href => "#"} Fresh Foods inc.
          %p We’ve just finished the new awesome project. It has been a great time for us these months.
        / .work_project
        .work_project.last_project
          %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip3]", :title => "Online electronics shop"}
          %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip3]", :title => "Online electronics shop"}
          %img{:alt => "Name of the project", :src => "images/projects/project3.jpg"}/
          %a.project_title{:href => "#"} Interactive company
          %p We’ve just finished the new awesome project. It has been a great time for us these months.
        / .work_project
        .clear_container
        %br
        %hr
        %br
        %h1#schedule Schedule
        .work_project
          %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip4]", :title => "Online electronics shop"}
          %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip4]", :title => "Online electronics shop"}
          %img{:alt => "Name of the project", :src => "images/projects/project4.jpg"}/
          %a.project_title{:href => "#"} Software App website
          %p We’ve just finished the new awesome project. It has been a great time for us these months.
        .work_project
          %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip5]", :title => "Online electronics shop"}
          %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip5]", :title => "Online electronics shop"}
          %img{:alt => "Name of the project", :src => "images/projects/project5.jpg"}/
          %a.project_title{:href => "#"} CardCrafters microsite
          %p We’ve just finished the new awesome project. It has been a great time for us these months.
        .work_project.last_project
          %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip6]", :title => "Online electronics shop"}
          %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip6]", :title => "Online electronics shop"}
          %img{:alt => "Name of the project", :src => "images/projects/project6.jpg"}/
          %a.project_title{:href => "#"} Stylish Art Gallery
          %p We’ve just finished the new awesome project. It has been a great time for us these months.
        .clear_container
        %br
        %hr
        %br
        %h1#staff Staff
        .work_project
          %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip7]", :title => "Online electronics shop"}
          %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip7]", :title => "Online electronics shop"}
          %img{:alt => "Name of the project", :src => "images/projects/project7.jpg"}/
          %a.project_title{:href => "#"} Recruitment Firm website
          %p We’ve just finished the new awesome project. It has been a great time for us these months.
        / .work_project
        .work_project
          %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip8]", :title => "Online electronics shop"}
          %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip8]", :title => "Online electronics shop"}
          %img{:alt => "Name of the project", :src => "images/projects/project8.jpg"}/
          %a.project_title{:href => "#"} Mobile app design
          %p We’ve just finished the new awesome project. It has been a great time for us these months.
      .clear_container
      %hr
      %br
      %h1#finance Finance
      .work_project
        %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip4]", :title => "Online electronics shop"}
        %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip4]", :title => "Online electronics shop"}
        %img{:alt => "Name of the project", :src => "images/projects/project4.jpg"}/
        %a.project_title{:href => "#"} Software App website
        %p We’ve just finished the new awesome project. It has been a great time for us these months.
      .work_project
        %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip5]", :title => "Online electronics shop"}
        %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip5]", :title => "Online electronics shop"}
        %img{:alt => "Name of the project", :src => "images/projects/project5.jpg"}/
        %a.project_title{:href => "#"} CardCrafters microsite
        %p We’ve just finished the new awesome project. It has been a great time for us these months.
      .work_project.last_project
        %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip6]", :title => "Online electronics shop"}
        %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip6]", :title => "Online electronics shop"}
        %img{:alt => "Name of the project", :src => "images/projects/project6.jpg"}/
        %a.project_title{:href => "#"} Stylish Art Gallery
        %p We’ve just finished the new awesome project. It has been a great time for us these months.
      .clear_container
      %br
      %hr
      %br
      %h1#reports Reports
      .work_project
        %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip4]", :title => "Online electronics shop"}
        %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip4]", :title => "Online electronics shop"}
        %img{:alt => "Name of the project", :src => "images/projects/project4.jpg"}/
        %a.project_title{:href => "#"} Software App website
        %p We’ve just finished the new awesome project. It has been a great time for us these months.
      .work_project
        %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip5]", :title => "Online electronics shop"}
        %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip5]", :title => "Online electronics shop"}
        %img{:alt => "Name of the project", :src => "images/projects/project5.jpg"}/
        %a.project_title{:href => "#"} CardCrafters microsite
        %p We’ve just finished the new awesome project. It has been a great time for us these months.
      .work_project.last_project
        %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip6]", :title => "Online electronics shop"}
        %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip6]", :title => "Online electronics shop"}
        %img{:alt => "Name of the project", :src => "images/projects/project6.jpg"}/
        %a.project_title{:href => "#"} Stylish Art Gallery
        %p We’ve just finished the new awesome project. It has been a great time for us these months.
      .clear_container
      %br
    .footer
      .footer_content
        .footer_left
          %p © 2010 DZKey&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;all rights reserved
        .footer_right
          %p
            %a{:href => "#"}> Privacy Statement
            \&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            %a{:href => "#"} Terms &amp; Conditions
:javascript
  function sticky_relocate() {
    var window_top = jQuery(window).scrollTop();
    var div_top = jQuery('#sticky-anchor').offset().top;
    if (window_top > div_top){
      jQuery('#sticky').addClass('stick');
      jQuery('#sticky-replacement').show();
    } else{
      jQuery('#sticky').removeClass('stick');
      jQuery('#sticky-replacement').hide();
      
    }
  }
  jQuery(document).ready(function(){
    jQuery('body').nivoZoom();
    jQuery("a.scroller").click(function(){
      var elementClicked = jQuery(this).attr("href");
      jQuery(".sel-li").hide();
      jQuery(".desel-li").show();
      jQuery(elementClicked+"s").show();
      jQuery(elementClicked+"d").hide();
      
      var destination = jQuery(elementClicked).offset().top;
      jQuery("html,body").animate({ scrollTop: destination-65}, (Math.abs(($("body").scrollTop() - destination))+250));
      return false;
    });
    jQuery(window).scroll(sticky_relocate);
    sticky_relocate();
  });
  
    