.secondary_page_bg
  .category_illustration
    .punchline_work
      %h2{:style => "margin-left: 50px"} Overview here!
#sticky-anchor
#sticky-replacement{:style => 'display: none'}
  .sec_menu
    .sec_menu_content
      %ul.secondary_menu

#sticky
  .sec_menu
    .sec_menu_content
      %ul.secondary_menu
        %li
          %span Go To
        %li#overviews.sel-li.sec_menu_selected{:style => 'display: none'}
          .sec_menu_selected_left
          %a.sec_menu_selected_middle.scroller{:href => "#overview"} Overview
          .sec_menu_selected_right
        %li#overviewd.desel-li
          %a.scroller{:href => "#overview"} Overview
        %li#manifests.sel-li.sec_menu_selected{:style => 'display: none'}
          .sec_menu_selected_left
          %a.sec_menu_selected_middle.scroller{:href => "#manifest"} Manifest
          .sec_menu_selected_right
        %li#manifestd.desel-li
          %a.scroller{:href => "#manifest"} Manifest
        %li#schedules.sel-li.sec_menu_selected{:style => 'display: none'}
          .sec_menu_selected_left
          %a.sec_menu_selected_middle.scroller{:href => "#schedule"} Schedule
          .sec_menu_selected_right
        %li#scheduled.desel-li
          %a.scroller{:href => "#schedule"} Schedule
        %li#staffs.sel-li.sec_menu_selected{:style => 'display: none'}
          .sec_menu_selected_left
          %a.sec_menu_selected_middle.scroller{:href => "#staff"} Staff
          .sec_menu_selected_right
        %li#staffd.desel-li
          %a.scroller{:href => "#staff"} Staff
        %li#finances.sel-li.sec_menu_selected{:style => 'display: none'}
          .sec_menu_selected_left
          %a.sec_menu_selected_middle.scroller{:href => "#finance"} Finance
          .sec_menu_selected_right
        %li#financed.desel-li
          %a.scroller{:href => "#finance"} Finance
        %li#reportss.sel-li.sec_menu_selected{:style => 'display: none'}
          .sec_menu_selected_left
          %a.sec_menu_selected_middle.scroller{:href => "#reports"} Reports
          .sec_menu_selected_right
        %li#reportsd.desel-li
          %a.scroller{:href => "#reports"} Reports
        %li
          %a.scroller{:href => "#the-top"} Top
.content
  .secondary_pages_content
    %h1#overview Overview
    .work_project
      
      %a.nivoZoom.center{:href => "images/projects/project1_lightbox.jpg", :title => "Online electronics shop"}
        %img{:alt => "Name of the project", :src => "images/projects/project1.jpg"}/
      %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip1]", :title => "Online electronics shop"}
      %a.project_title{:href => "#"} ZOOMER
      %p We’ve just finished the new awesome project. It has been a great time for us these months.
      
    .work_project
      %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip2]", :title => "Online electronics shop"}
      %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip2]", :title => "Online electronics shop"}
      %img{:alt => "Name of the project", :src => "images/projects/project2.jpg"}/
      %a.project_title{:href => "#"} Fresh Foods inc.
      %p We’ve just finished the new awesome project. It has been a great time for us these months.
    / .work_project
    .work_project.last_project
      %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip3]", :title => "Online electronics shop"}
      %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip3]", :title => "Online electronics shop"}
      %img{:alt => "Name of the project", :src => "images/projects/project3.jpg"}/
      %a.project_title{:href => "#"} Interactive company
      %p We’ve just finished the new awesome project. It has been a great time for us these months.
    / .work_project
    .clear_container
    %br
    %hr
    %br
    %h1#manifest Manifest
    .work_project
      
      %a.nivoZoom.center{:href => "images/projects/project1_lightbox.jpg", :title => "Online electronics shop"}
        %img{:alt => "Name of the project", :src => "images/projects/project1.jpg"}/
      %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip1]", :title => "Online electronics shop"}
      %a.project_title{:href => "#"} ZOOMER
      %p We’ve just finished the new awesome project. It has been a great time for us these months.
      
    .work_project
      %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip2]", :title => "Online electronics shop"}
      %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip2]", :title => "Online electronics shop"}
      %img{:alt => "Name of the project", :src => "images/projects/project2.jpg"}/
      %a.project_title{:href => "#"} Fresh Foods inc.
      %p We’ve just finished the new awesome project. It has been a great time for us these months.
    / .work_project
    .work_project.last_project
      %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip3]", :title => "Online electronics shop"}
      %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip3]", :title => "Online electronics shop"}
      %img{:alt => "Name of the project", :src => "images/projects/project3.jpg"}/
      %a.project_title{:href => "#"} Interactive company
      %p We’ve just finished the new awesome project. It has been a great time for us these months.
    / .work_project
    .clear_container
    %br
    %hr
    %br
    %h1#schedule Schedule
    .work_project
      %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip4]", :title => "Online electronics shop"}
      %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip4]", :title => "Online electronics shop"}
      %img{:alt => "Name of the project", :src => "images/projects/project4.jpg"}/
      %a.project_title{:href => "#"} Software App website
      %p We’ve just finished the new awesome project. It has been a great time for us these months.
    .work_project
      %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip5]", :title => "Online electronics shop"}
      %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip5]", :title => "Online electronics shop"}
      %img{:alt => "Name of the project", :src => "images/projects/project5.jpg"}/
      %a.project_title{:href => "#"} CardCrafters microsite
      %p We’ve just finished the new awesome project. It has been a great time for us these months.
    .work_project.last_project
      %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip6]", :title => "Online electronics shop"}
      %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip6]", :title => "Online electronics shop"}
      %img{:alt => "Name of the project", :src => "images/projects/project6.jpg"}/
      %a.project_title{:href => "#"} Stylish Art Gallery
      %p We’ve just finished the new awesome project. It has been a great time for us these months.
    .clear_container
    %br
    %hr
    %br
    %h1#staff Staff
    .work_project
      %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip7]", :title => "Online electronics shop"}
      %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip7]", :title => "Online electronics shop"}
      %img{:alt => "Name of the project", :src => "images/projects/project7.jpg"}/
      %a.project_title{:href => "#"} Recruitment Firm website
      %p We’ve just finished the new awesome project. It has been a great time for us these months.
    / .work_project
    .work_project
      %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip8]", :title => "Online electronics shop"}
      %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip8]", :title => "Online electronics shop"}
      %img{:alt => "Name of the project", :src => "images/projects/project8.jpg"}/
      %a.project_title{:href => "#"} Mobile app design
      %p We’ve just finished the new awesome project. It has been a great time for us these months.
  .clear_container
  %hr
  %br
  %h1#finance Finance
  .work_project
    %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip4]", :title => "Online electronics shop"}
    %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip4]", :title => "Online electronics shop"}
    %img{:alt => "Name of the project", :src => "images/projects/project4.jpg"}/
    %a.project_title{:href => "#"} Software App website
    %p We’ve just finished the new awesome project. It has been a great time for us these months.
  .work_project
    %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip5]", :title => "Online electronics shop"}
    %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip5]", :title => "Online electronics shop"}
    %img{:alt => "Name of the project", :src => "images/projects/project5.jpg"}/
    %a.project_title{:href => "#"} CardCrafters microsite
    %p We’ve just finished the new awesome project. It has been a great time for us these months.
  .work_project.last_project
    %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip6]", :title => "Online electronics shop"}
    %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip6]", :title => "Online electronics shop"}
    %img{:alt => "Name of the project", :src => "images/projects/project6.jpg"}/
    %a.project_title{:href => "#"} Stylish Art Gallery
    %p We’ve just finished the new awesome project. It has been a great time for us these months.
  .clear_container
  %br
  %hr
  %br
  %h1#reports Reports
  .work_project
    %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip4]", :title => "Online electronics shop"}
    %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip4]", :title => "Online electronics shop"}
    %img{:alt => "Name of the project", :src => "images/projects/project4.jpg"}/
    %a.project_title{:href => "#"} Software App website
    %p We’ve just finished the new awesome project. It has been a great time for us these months.
  .work_project
    %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip5]", :title => "Online electronics shop"}
    %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip5]", :title => "Online electronics shop"}
    %img{:alt => "Name of the project", :src => "images/projects/project5.jpg"}/
    %a.project_title{:href => "#"} CardCrafters microsite
    %p We’ve just finished the new awesome project. It has been a great time for us these months.
  .work_project.last_project
    %a.project_hover{:href => "images/projects/project1_lightbox.jpg", :rel => "lightbox[roadtrip6]", :title => "Online electronics shop"}
    %a{:href => "images/projects/project2_lightbox.jpg", :rel => "lightbox[roadtrip6]", :title => "Online electronics shop"}
    %img{:alt => "Name of the project", :src => "images/projects/project6.jpg"}/
    %a.project_title{:href => "#"} Stylish Art Gallery
    %p We’ve just finished the new awesome project. It has been a great time for us these months.
  .clear_container
  %br
:javascript
  function sticky_relocate() {
    var window_top = $(window).scrollTop();
    var div_top = $('#sticky-anchor').offset().top;
    if (window_top > div_top){
      $('#sticky').addClass('stick');
      $('#sticky-replacement').show();
    } else{
      $('#sticky').removeClass('stick');
      $('#sticky-replacement').hide();
      
    }
  }
  $(document).ready(function(){
    $('body').nivoZoom();
    $("a.scroller").click(function(){
      var elementClicked = $(this).attr("href");
      $(".sel-li").hide();
      $(".desel-li").show();
      $(elementClicked+"s").show();
      $(elementClicked+"d").hide();
      
      var destination = $(elementClicked).offset().top;
      $("html,body").animate({ scrollTop: destination-65}, (Math.abs(($("body").scrollTop() - destination))+250));
      return false;
    });
    $(window).scroll(sticky_relocate);
    sticky_relocate();
  });
  
    